includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    checkMissingTypehints: false
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    paths:
        - app
        - config
        - database
        - routes
        - tests
    universalObjectCratesClasses:
        - Illuminate\Http\Request
        - Illuminate\Http\Resources\Json\JsonResource
        - Illuminate\Contracts\Auth\Authenticatable
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
